# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class


# Exclude Virtual Environment Files
.venv/
venv/


# Exclude special examples 
**/*xxx*
**/output/*.py
**/source/**

**/.vscode

**/output**

.env.local
static/assets/.DS_Store
.gitignore
dagify/converter/utils.py
