# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class


# Exclude Virtual Environment Files
.venv/
venv/


# Exclude special examples 
**/*xxx*
**/output/*.py


**/.vscode

**/output**

.env.local