autopep8==2.3.2
click==8.3.0
flake8==7.3.0
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
numpy==2.3.1
pandas==2.3.1
pycodestyle==2.14.0
pyflakes==3.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
six==1.17.0
tzdata==2025.2
yamale==6.0.0
requests==2.32.4
fastapi==0.116.1
prettytable==3.16.0
uvicorn==0.35.0
python-multipart==0.0.20
