# Apache Airflow Base Imports
{%- for import in baseline_imports %}
{{import}}
{%- endfor %}
# Apache Airflow Custom & DAG/Task Specific Imports
{%- for import in custom_imports %}
{{import}}
{%- endfor %}

default_args = {
    'owner': 'airflow',
}

with DAG(
    dag_id="{{dag_id}}",
    start_date=datetime.datetime(2024, 1, 1),
    #schedule="@daily",
    schedule_interval='*/1 * * * *',
) as dag:

    # DAG Tasks
    {%- for task in tasks %}
    {{task | indent(4)}}
    {%- endfor %}

    # Airflow Task Dependencies
    {%- for dependency in dependencies %}
    {{dependency | indent(4)}}
    {%- endfor %}