# Apache Airflow Base Imports
{%- for import in baseline_imports %}
{{import}}
{%- endfor %}
# Apache Airflow Custom & DAG/Task Specific Imports
{%- for import in custom_imports %}
{{import}}
{%- endfor %}

default_args = {
    'owner': 'airflow',
}

{% if gke_defaults %}
# GKE Defaults
{% for key, value in gke_defaults.items() %}
{{ key }} = "{{ value }}"
{% endfor %}
{% endif %}

with DAG(
    dag_id="{{dag_id}}",
    start_date=datetime.datetime(2024, 1, 1),
    {% if schedule_interval %}schedule_interval="{{ schedule_interval }}"{% else %}schedule_interval="@daily",  # TIMEFROM not found, default schedule set to @daily{% endif %},
    catchup=False,
) as dag:

    # DAG Tasks

    job_spec = k8s.V1Job(
        metadata=k8s.V1ObjectMeta(name="pvc-backed-job"),
        spec=k8s.V1JobSpec(
            backoff_limit=0,
            template=k8s.V1PodTemplateSpec(
                metadata=k8s.V1ObjectMeta(annotations={"gke-gcsfuse/volumes": "true"}),
                spec=k8s.V1PodSpec(
                    restart_policy="Never",
                    service_account_name=KSA_NAME,
                    security_context=k8s.V1PodSecurityContext(fs_group=1000),
                    volumes=[
                        k8s.V1Volume(
                            name="gcsfuse-pv",
                            persistent_volume_claim=k8s.V1PersistentVolumeClaimVolumeSource(
                                claim_name=PVC_NAME,
                                read_only=False,
                            ),
                        )
                    ],
                    containers=[
                        k8s.V1Container(
                            name="main",
                            image="artifactory-image",
                            volume_mounts=[
                                k8s.V1VolumeMount(
                                    name="gcsfuse-pv",
                                    mount_path=MOUNT_PATH,
                                    read_only=False,
                                )
                            ],
                            env=[
                                k8s.V1EnvVar(
                                    name="password-decryption-algo",
                                    value_from=k8s.V1EnvVarSource(
                                        secret_key_ref=k8s.V1SecretKeySelector(
                                            name="password-decryption-algo",
                                            key="password-decryption-algo",
                                        )
                                    )
                            # (optional) resources, env, etc.
                            # resources=k8s.V1ResourceRequirements(
                            #     requests={"cpu": "250m", "memory": "512Mi"},
                            #     limits={"cpu": "1", "memory": "1Gi"},
                            # ),
                                ),
                                k8s.V1EnvVar(
                                    name="password-decryption-key",
                                    value_from=k8s.V1EnvVarSource(
                                        secret_key_ref=k8s.V1SecretKeySelector(
                                            name="password-decryption-key",
                                            key="password-decryption-key",
                                        )
                                    )
                                    # (optional) resources, env, etc.
                                    # resources=k8s.V1ResourceRequirements(
                                    #     requests={"cpu": "250m", "memory": "512Mi"},
                                    #     limits={"cpu": "1", "memory": "1Gi"},
                                    # ),
                                ),
                            ],
                        ),
                    ],
                ),
            ),
        ),
    )

    {%- for task in tasks %}
    {{task | indent(4)}}
    {%- endfor %}

    {% if dependencies_int|length > 0 %}
    # Airflow Task Internal Dependencies
    {%- for dependency in dependencies_int %}
    {{dependency | indent(4)}}
    {%- endfor %}
    {% endif %}

    {% if dependencies_ext|length > 0 %}
    # Airflow Downstream Task Dependencies (external dags)
    {% for dependency in dependencies_ext %}
    {{ dependency['marker_name'] }} = ExternalTaskMarker(
        task_id="{{ dependency['marker_name'] }}",
        external_dag_id='{{ dependency['ext_dag'] }}',
        external_task_id='{{ dependency['ext_dep_task'] }}'
    )
    {% endfor %}
    {% endif %}

    {% if upstream_dependencies|length > 0 %}
    # Airflow Upstream Task Dependencies (external dags)
    {% for upstream_dependency in upstream_dependencies %}
    {{ upstream_dependency['sensor_name'] }} = ExternalTaskSensor(
        task_id="{{ upstream_dependency['sensor_name'] }}",
        external_dag_id="{{ upstream_dependency['upstream_dag_name'] }}",
        external_task_id="{{ upstream_dependency['task_in_upstream_dag'] }}",
        dag=dag
    )
    {{ upstream_dependency['sensor_name'] }} >> {{ upstream_dependency['task_name'] }}
    {% endfor %}
    {% endif %}
